* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #031743;
    font-size: 16PX;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    width: 100%;
    height: 100%;
    background-color:   #0033A0;
}

form {
    width: 500px;
    height: 500px;
    background-color: #4EC3E0;
    margin-left: 32%;
    margin-top: 13%;
    padding: 4%;
}
label{
    background-color: #4EC3E0;
    display: block;
    margin-left: 31%;
    margin-top: 13%;
}
input{
    width: 100%;
    height: 40px;
    margin-top: 30px;
}   
.boton{
    background-color: #E3E829;
    margin-left: 32%;
    margin-top: 20%;
    font-size: 13px;
    width: 30%;
    
}

#mensaje {
  margin-top: 10px;       /* espacio entre el input y el mensaje */
  font-size: 14px;        /* tamaño de letra más pequeño que el título */
  font-weight: bold;      /* resalta el texto */
  text-align: center;     /* centra el mensaje */
}

/* Colores según estado */
#mensaje.success {
  color: green;
}

#mensaje.error {
  color: rgb(19, 5, 54);
}

#mensaje.blocked {
  color: red;
}
